/* Header, som indeholder navigation, logo og søgefunktion */

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: var(--color-primary);
	margin-bottom: 40px;
}
